<odoo>
    <data>
        <!-- Top menu item -->
        <menuitem name="Truffle App" id="truffle_app.menu_root" web_icon="truffle_app,static/description/icon.png" groups="truffle_app.truffle_group_administrator,truffle_app.truffle_group_client,truffle_app.truffle_group_worker"/>

        
        <menuitem name="Order" id="truffle_app.menu_order" parent="truffle_app.menu_root" sequence="1" groups="truffle_app.truffle_group_administrator,truffle_app.truffle_group_client,truffle_app.truffle_group_worker"/>
        <menuitem name="Product" id="truffle_app.menu_product" parent="truffle_app.menu_root" sequence="2" groups="truffle_app.truffle_group_administrator,truffle_app.truffle_group_client,truffle_app.truffle_group_worker"/>
        <menuitem name="Quality" id="truffle_app.menu_quality" parent="truffle_app.menu_root" sequence="3" groups="truffle_app.truffle_group_administrator"/>
        <menuitem name="Weight" id="truffle_app.menu_weight" parent="truffle_app.menu_root" sequence="4" groups="truffle_app.truffle_group_administrator"/>
        <menuitem name="Category" id="truffle_app.menu_category" parent="truffle_app.menu_root" sequence="5" groups="truffle_app.truffle_group_administrator"/>
        <menuitem name="Invoice" id="truffle_app.menu_invoice" parent="truffle_app.menu_root" sequence="6" groups="truffle_app.truffle_group_administrator,truffle_app.truffle_group_worker,truffle_app.truffle_group_client"/>

        <!-- actions -->
        <menuitem name="Order list" id="truffle_app.menu_order_list" parent="truffle_app.menu_order" action="truffle_app.order_action_window" sequence="1" groups="truffle_app.truffle_group_administrator,truffle_app.truffle_group_client,truffle_app.truffle_group_worker"/>
        <menuitem name="Product list" id="truffle_app.menu_product_list" parent="truffle_app.menu_product" action="truffle_app.product_action_window" sequence="10" groups="truffle_app.truffle_group_administrator,truffle_app.truffle_group_client,truffle_app.truffle_group_worker"/>
        <menuitem name="Quality list" id="truffle_app.menu_quality_list" parent="truffle_app.menu_quality" action="truffle_app.quality_action_window" sequence="20" groups="truffle_app.truffle_group_administrator"/>
        <menuitem name="Weight list" id="truffle_app.menu_weight_list" parent="truffle_app.menu_weight" action="truffle_app.weight_action_window" sequence="30" groups="truffle_app.truffle_group_administrator"/>
        <menuitem name="Category list" id="truffle_app.menu_category_list" parent="truffle_app.menu_category" action="truffle_app.category_action_window" sequence="40" groups="truffle_app.truffle_group_administrator"/>
        <menuitem name="Invoice list" id="truffle_app.menu_invoice_list" parent="truffle_app.menu_invoice" action="truffle_app.invoice_action_window" sequence="50" groups="truffle_app.truffle_group_administrator,truffle_app.truffle_group_worker,truffle_app.truffle_group_client"/>
    </data>
</odoo>
